In [5]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import pandas as pd 
import numpy as np
import os

#import data 
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial
DATA_PATH = "/content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial/raw_data/"
os.getcwd()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial

'/content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial'

In [7]:
from os import listdir
FILE_LIST = listdir(DATA_PATH)
print(FILE_LIST)

['con_prod_hh_over_trx_yr_mo_usd.csv', 'con_pur_hh_by_trx_yr_mo_usd.csv', 'demo_hh.csv', 'demo_ind.csv', 'diaries_goingson_hh.csv', 'diaries_wellbeing_ind.csv', 'edu_hh.csv', 'edu_ind.csv', 'housing_conditions_ownership.csv', 'inc_hh_by_trx_yr_mo_usd_incRR.csv', 'inc_ind_by_trx_yr_mo_usd_incRR.csv', 'pov_hh_by_trx_yr_mo_usd_incRR.csv', 'rem_hh_by_trx_yr_mo_usd.csv', 'pov_hh_by_trx_yr_mo_usd_excRR.csv', 'diaries_transactions_all.csv']

In [4]:
FILE_LIST[0].split(".csv")[0]

NameError: ignored

In [3]:
df_dic={}
for i, e in enumerate(FILE_LIST):
  df_dic[str(FILE_LIST[i].split(".csv")[0])]= pd.read_csv("raw_data/" + e)

NameError: ignored

In [ ]:
df_dic['con_prod_hh_over_trx_yr_mo_usd']

      hh_ids  con_prod_hh_medpti
0    KELDK01            0.000000
1    KELDK02            0.000000
2    KELDK08            0.000000
3    KELDK09            0.000000
4    KELDK10            0.000000
..       ...                 ...
286  KVIHK34            5.421177
287  KVIHK36            0.658824
288  KVIHK38            2.047059
289  KVIHK39            0.000000
290  KVIHK40            0.000000

[291 rows x 2 columns]

In [ ]:
df_dic['diaries_transactions_all']

,hh_ids,unique_hhs,first_trx_date_hh,last_trx_date_hh,tot_hh_daysofobs,tot_hh_monthsofobs,interview_designation,int_date,int_month,int_year,...,trx_distance_km,trx_outlet,trx_direction,trx_value_kes,trx_value_usd,ddd_gift,trx_inkind_units,trx_inkind_value_usd,trx_inkind_value_kes,trx_stdtime_mnths_hh_nr
0,KELDL02,NaN,03sep2012,02oct2013,394,13,04=Diaries Interview,02oct2013,10,2013,...,NaN,NaN,NaN,0.0,0.000000,0,NaN,NaN,NaN,13.586210
1,KVIHC16,NaN,24sep2012,19sep2013,360,12,04=Diaries Interview,22apr2013,4,2013,...,NaN,NaN,Outflow,100.0,1.176471,0,NaN,NaN,NaN,7.206897
2,KELDK21,NaN,20sep2012,22oct2013,397,13,04=Diaries Interview,02oct2013,10,2013,...,NaN,NaN,NaN,0.0,0.000000,0,NaN,NaN,NaN,13.000000
3,KMOMT22,NaN,21sep2012,01nov2013,406,14,04=Diaries Interview,21feb2013,2,2013,...,NaN,NaN,Inflow,710.0,8.352942,0,NaN,NaN,NaN,4.793103
4,KMOMT32,NaN,20sep2012,18oct2013,393,13,04=Diaries Interview,02may2013,5,2013,...,NaN,NaN,Outflow,100.0,1.176471,0,NaN,NaN,NaN,6.517241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483944,KZIMA08,NaN,21mar2013,21oct2013,214,7,04=Diaries Interview,02aug2013,8,2013,...,0.378316,NaN,Outflow,30.0,0.352941,0,NaN,NaN,NaN,4.586207
483945,KZIMA08,NaN,21mar2013,21oct2013,214,7,04=Diaries Interview,04oct2013,10,2013,...,0.378316,NaN,Outflow,100.0,1.176471,0,NaN,NaN,NaN,6.448276
483946,KZIMA08,NaN,21mar2013,21oct2013,214,7,04=Diaries Interview,21aug2013,8,2013,...,0.378316,"08=Restaurant, bar, hotel, cyber",Outflow,50.0,0.588235,0,NaN,NaN,NaN,4.827586
483947,KMOMK03,NaN,07sep2012,25oct2013,413,14,04=Diaries Interview,01aug2013,8,2013,...,74.572090,"10=Institution (clinic, school, church, etc.)",Outflow,1650.0,19.411760,0,NaN,NaN,NaN,10.965520
483948,KMOMM11,NaN,17aug2012,04oct2013,413,14,04=Diaries Interview,01nov2012,11,2012,...,1.590156,NaN,Outflow,100.0,1.176471,0,NaN,NaN,NaN,2.413793

In [ ]:
#trans1 = df_dic['diaries_transactions_all'].merge(df_dic['demo_hh'], how="left", on="hh_ids")

In [11]:
from functools import reduce

dfs = [df_dic['diaries_transactions_all'], df_dic['demo_hh'] , df_dic['con_prod_hh_over_trx_yr_mo_usd'], df_dic['edu_hh']]
nan_value = 0

result_hhids = reduce(lambda df_left, df_right: pd.merge(df_left, df_right, 
                                              right_on = 'hh_ids', left_on = 'hh_ids', 
                                              how='outer'), 
                  dfs).fillna(nan_value)

In [ ]:
print(result_hhids)

         hh_ids  unique_hhs first_trx_date_hh last_trx_date_hh  \
0       KELDL02         0.0         03sep2012        02oct2013
1       KELDL02         0.0         03sep2012        02oct2013
2       KELDL02         0.0         03sep2012        02oct2013
3       KELDL02         0.0         03sep2012        02oct2013
4       KELDL02         0.0         03sep2012        02oct2013
...         ...         ...               ...              ...
483944  KMOMT33         0.0         07oct2012        02nov2013
483945  KMOMT33         0.0         07oct2012        02nov2013
483946  KMOMT33         0.0         07oct2012        02nov2013
483947  KMOMT33         0.0         07oct2012        02nov2013
483948  KMOMT33         0.0         07oct2012        02nov2013

        tot_hh_daysofobs  tot_hh_monthsofobs interview_designation   int_date  \
0                    394                  13  04=Diaries Interview  02oct2013
1                    394                  13  04=Diaries Interview  13dec2012
2                    394                  13  04=Diaries Interview  19may2013
3                    394                  13  04=Diaries Interview  02oct2013
4                    394                  13  04=Diaries Interview  16jun2013
...                  ...                 ...                   ...        ...
483944               391                  13  04=Diaries Interview  24oct2012
483945               391                  13  04=Diaries Interview  16jan2013
483946               391                  13  04=Diaries Interview  16jan2013
483947               391                  13  04=Diaries Interview  20feb2013
483948               391                  13  04=Diaries Interview  20feb2013

        int_month  int_year  ... dem_pae_oecd dem_pae_kihbs  \
0              10      2013  ...          2.7          2.48
1              12      2012  ...          2.7          2.48
2               5      2013  ...          2.7          2.48
3              10      2013  ...          2.7          2.48
4               6      2013  ...          2.7          2.48
...           ...       ...  ...          ...           ...
483944         10      2012  ...          3.2          3.54
483945          1      2013  ...          3.2          3.54
483946          1      2013  ...          3.2          3.54
483947          2      2013  ...          3.2          3.54
483948          2      2013  ...          3.2          3.54

       con_prod_hh_medpti  edu_hh_child613inschool edu_hh_child1417inschool  \
0                 0.00000                      0.0                      0.0
1                 0.00000                      0.0                      0.0
2                 0.00000                      0.0                      0.0
3                 0.00000                      0.0                      0.0
4                 0.00000                      0.0                      0.0
...                   ...                      ...                      ...
483944            0.59232                      1.0                      0.0
483945            0.59232                      1.0                      0.0
483946            0.59232                      1.0                      0.0
483947            0.59232                      1.0                      0.0
483948            0.59232                      1.0                      0.0

        edu_hh_girls613inschool edu_hh_girls1417inschool  \
0                           0.0                      0.0
1                           0.0                      0.0
2                           0.0                      0.0
3                           0.0                      0.0
4                           0.0                      0.0
...                         ...                      ...
483944                      1.0                      0.0
483945                      1.0                      0.0
483946                      1.0                      0.0
483947                      1.0                      0.0
483948                      1.0                      0.0

       edu_hh_boys613inschool edu_hh_boys1417inschool edu_hh_headattain_yrs
0                         0.0                     0.0                  12.0
1                         0.0                     0.0                  12.0
2                         0.0                     0.0                  12.0
3                         0.0                     0.0                  12.0
4                         0.0                     0.0                  12.0
...                       ...                     ...                   ...
483944                    1.0                     0.0                  10.0
483945                    1.0                     0.0                  10.0
483946                    1.0                     0.0                  10.0
483947                    1.0                     0.0                  10.0
483948                    1.0                     0.0                  10.0

[483949 rows x 83 columns]

In [2]:
dfs = [df_dic['con_pur_hh_by_trx_yr_mo_usd'], df_dic['inc_hh_by_trx_yr_mo_usd_incRR'], df_dic['pov_hh_by_trx_yr_mo_usd_excRR'], df_dic['pov_hh_by_trx_yr_mo_usd_incRR'], df_dic['rem_hh_by_trx_yr_mo_usd']]
nan_value = 0

result_hhids_trxyrmo = reduce(lambda df_left, df_right: pd.merge(df_left, df_right, 
                                              right_on = 'trx_yr_mo', left_on ='trx_yr_mo', 
                                              how= 'outer'),
                  dfs).fillna(nan_value)

NameError: ignored

In [1]:
print(result_hhids_trxyrmo)

NameError: ignored