In [5]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import pandas as pd 
import numpy as np
import os

#import data 

from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial
DATA_PATH = "/content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial/raw_data"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial

In [17]:
import pandas as pd

def load_data(path=DATA_PATH, dataset=""):
    csv_path = os.path.join(path, dataset)
    return pd.read_csv(csv_path)

In [19]:
transaction = load_data(dataset="diaries_transactions_all.csv")
transaction.info()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 483949 entries, 0 to 483948
Data columns (total 58 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   hh_ids                      483949 non-null  object
 1   unique_hhs                  298 non-null     float64
 2   first_trx_date_hh           483949 non-null  object
 3   last_trx_date_hh            483949 non-null  object
 4   tot_hh_daysofobs            483949 non-null  int64
 5   tot_hh_monthsofobs          483949 non-null  int64
 6   interview_designation       483681 non-null  object
 7   int_date                    483949 non-null  object
 8   int_month                   483949 non-null  int64
 9   int_year                    483949 non-null  int64
 10  int_yr_mo                   483949 non-null  object
 11  first_int_date              483949 non-null  object
 12  account_ids                 483949 non-null  object
 13  unique_accnts               9546 non-null    float64
 14  m_ids_owner                 483949 non-null  object
 15  unique_hm_owner             670 non-null     float64
 16  account_bsheet_desig        77070 non-null   object
 17  account_startclose_balance  6942 non-null    object
 18  account_formal              77070 non-null   object
 19  account_liquid              49921 non-null   object
 20  first_trx_date_acc          483949 non-null  object
 21  last_trx_date_acc           483949 non-null  object
 22  tot_acc_daysofobs           483949 non-null  int64
 23  tot_acc_monthsofobs         483949 non-null  int64
 24  trx_id                      483949 non-null  int64
 25  m_ids_trx                   483949 non-null  object
 26  trx_date                    483949 non-null  object
 27  trx_month                   483949 non-null  int64
 28  trx_year                    483949 non-null  int64
 29  trx_yr_mo                   483949 non-null  object
 30  trx_dq_round                482647 non-null  float64
 31  trx_stdtime_days_hh         483949 non-null  int64
 32  trx_stdtime_mnths_hh        483949 non-null  int64
 33  trx_stdtime_days_acc        483949 non-null  int64
 34  trx_stdtime_mnths_acc       483949 non-null  int64
 35  trx_class_code              483949 non-null  object
 36  trx_class_desc              483949 non-null  object
 37  trx_family_code             483949 non-null  object
 38  trx_family_desc             483949 non-null  object
 39  trx_type_code               483949 non-null  int64
 40  trx_type_desc               483949 non-null  object
 41  trx_prx_purpose             483949 non-null  object
 42  trx_prx_purpose_fd          59950 non-null   object
 43  trx_fee                     77070 non-null   float64
 44  trx_bsheet_direction        71196 non-null   object
 45  trx_mode_code               476292 non-null  float64
 46  trx_mode_desc               476292 non-null  object
 47  trx_place_incommunity       457703 non-null  float64
 48  trx_distance_km             457498 non-null  float64
 49  trx_outlet                  336063 non-null  object
 50  trx_direction               469037 non-null  object
 51  trx_value_kes               483430 non-null  float64
 52  trx_value_usd               483430 non-null  float64
 53  ddd_gift                    483949 non-null  int64
 54  trx_inkind_units            13424 non-null   object
 55  trx_inkind_value_usd        12798 non-null   float64
 56  trx_inkind_value_kes        12798 non-null   float64
 57  trx_stdtime_mnths_hh_nr     483949 non-null  float64
dtypes: float64(13), int64(15), object(30)
memory usage: 214.1+ MB

In [20]:
demographic = load_data(dataset="demo_hh.csv")
demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   hh_ids             298 non-null    object
 1   dem_urban          298 non-null    int64
 2   dem_hh_size        298 non-null    int64
 3   dem_hh_meanage     298 non-null    float64
 4   dem_hh_ages0_4     298 non-null    int64
 5   dem_hh_ages5_14    298 non-null    int64
 6   dem_hh_ages15_17   298 non-null    int64
 7   dem_hh_ages0_17    298 non-null    int64
 8   dem_hh_ages15plus  298 non-null    int64
 9   dem_hh_ages18plus  298 non-null    int64
 10  dem_hh_ages65plus  298 non-null    int64
 11  dem_hh_ages20_30   298 non-null    int64
 12  dem_hh_workage     298 non-null    float64
 13  dem_hh_dependents  298 non-null    float64
 14  dem_hh_agehead     298 non-null    int64
 15  dem_hh_malehead    298 non-null    int64
 16  dem_pae_oecd       298 non-null    float64
 17  dem_pae_kihbs      298 non-null    float64
dtypes: float64(5), int64(12), object(1)
memory usage: 42.0+ KB

In [37]:
demographic_ind = load_data(dataset="demo_ind.csv")
demographic_ind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1565 entries, 0 to 1564
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   hh_ids               1565 non-null   object
 1   m_ids                1565 non-null   int64
 2   dem_i_male           1565 non-null   object
 3   dem_i_age_yrs        1565 non-null   int64
 4   dem_i_age_5yrgrp     1565 non-null   object
 5   dem_i_age_workage    1565 non-null   int64
 6   dem_i_relhead        1549 non-null   object
 7   dem_i_hhead          1565 non-null   int64
 8   dem_i_marstat        1564 non-null   object
 9   dem_i_tribe          1554 non-null   object
 10  dem_i_children_tot   560 non-null    float64
 11  dem_i_children_inhh  559 non-null    float64
dtypes: float64(2), int64(4), object(6)
memory usage: 146.8+ KB

In [9]:
transaction.head(10)

,hh_ids,unique_hhs,first_trx_date_hh,last_trx_date_hh,tot_hh_daysofobs,tot_hh_monthsofobs,interview_designation,int_date,int_month,int_year,...,trx_distance_km,trx_outlet,trx_direction,trx_value_kes,trx_value_usd,ddd_gift,trx_inkind_units,trx_inkind_value_usd,trx_inkind_value_kes,trx_stdtime_mnths_hh_nr
0,KELDL02,NaN,03sep2012,02oct2013,394,13,04=Diaries Interview,02oct2013,10,2013,...,NaN,NaN,NaN,0.0,0.000000,0,NaN,NaN,NaN,13.586210
1,KVIHC16,NaN,24sep2012,19sep2013,360,12,04=Diaries Interview,22apr2013,4,2013,...,NaN,NaN,Outflow,100.0,1.176471,0,NaN,NaN,NaN,7.206897
2,KELDK21,NaN,20sep2012,22oct2013,397,13,04=Diaries Interview,02oct2013,10,2013,...,NaN,NaN,NaN,0.0,0.000000,0,NaN,NaN,NaN,13.000000
3,KMOMT22,NaN,21sep2012,01nov2013,406,14,04=Diaries Interview,21feb2013,2,2013,...,NaN,NaN,Inflow,710.0,8.352942,0,NaN,NaN,NaN,4.793103
4,KMOMT32,NaN,20sep2012,18oct2013,393,13,04=Diaries Interview,02may2013,5,2013,...,NaN,NaN,Outflow,100.0,1.176471,0,NaN,NaN,NaN,6.517241
5,KMAKE30,NaN,04oct2012,27sep2013,358,12,04=Diaries Interview,15jul2013,7,2013,...,NaN,NaN,Outflow,2500.0,29.411760,0,NaN,NaN,NaN,9.793103
6,KVIHK22,NaN,16sep2012,27sep2013,376,12,03=Q3,24sep2012,9,2012,...,NaN,NaN,NaN,0.0,0.000000,0,NaN,NaN,NaN,0.275862
7,KNBOK03,NaN,01nov2012,22oct2013,355,12,04=Diaries Interview,27mar2013,3,2013,...,NaN,NaN,Outflow,300.0,3.529412,0,NaN,NaN,NaN,5.000000
8,KVIHK34,NaN,12sep2012,25oct2013,408,14,04=Diaries Interview,30jul2013,7,2013,...,NaN,NaN,Outflow,500.0,5.882353,0,NaN,NaN,NaN,11.034480
9,KELDK02,NaN,01sep2012,01oct2013,395,13,04=Diaries Interview,19apr2013,4,2013,...,NaN,NaN,Outflow,8820.0,103.764700,0,NaN,NaN,NaN,6.448276

In [12]:
#check if it is a pandas dataframe
if isinstance(transaction, pd.DataFrame):
  print("yes")

yes

In [15]:
transaction = transaction.drop_duplicates(keep="first")

In [30]:
newData = pd.merge(transaction, demographic, how="left", on="hh_ids")

In [39]:
if isinstance(demographic_ind, pd.DataFrame):
  print("yes")

yes

In [32]:
newData.head(10)

,hh_ids,unique_hhs,first_trx_date_hh,last_trx_date_hh,tot_hh_daysofobs,tot_hh_monthsofobs,interview_designation,int_date,int_month,int_year,...,dem_hh_ages15plus,dem_hh_ages18plus,dem_hh_ages65plus,dem_hh_ages20_30,dem_hh_workage,dem_hh_dependents,dem_hh_agehead,dem_hh_malehead,dem_pae_oecd,dem_pae_kihbs
0,KELDL02,NaN,03sep2012,02oct2013,394,13,04=Diaries Interview,02oct2013,10,2013,...,2,2,0,2,0.500000,0.500000,27,1,2.7,2.48
1,KVIHC16,NaN,24sep2012,19sep2013,360,12,04=Diaries Interview,22apr2013,4,2013,...,2,1,0,0,0.400000,0.600000,39,0,3.2,3.95
2,KELDK21,NaN,20sep2012,22oct2013,397,13,04=Diaries Interview,02oct2013,10,2013,...,4,4,1,1,0.750000,0.250000,56,1,3.1,4.00
3,KMOMT22,NaN,21sep2012,01nov2013,406,14,04=Diaries Interview,21feb2013,2,2013,...,2,2,0,1,0.285714,0.714286,35,1,4.2,4.43
4,KMOMT32,NaN,20sep2012,18oct2013,393,13,04=Diaries Interview,02may2013,5,2013,...,6,5,0,2,0.600000,0.400000,51,1,6.5,8.19
5,KMAKE30,NaN,04oct2012,27sep2013,358,12,04=Diaries Interview,15jul2013,7,2013,...,4,3,1,0,0.500000,0.500000,40,0,4.1,5.30
6,KVIHK22,NaN,16sep2012,27sep2013,376,12,03=Q3,24sep2012,9,2012,...,4,4,0,1,0.571429,0.428571,49,0,4.6,5.54
7,KNBOK03,NaN,01nov2012,22oct2013,355,12,04=Diaries Interview,27mar2013,3,2013,...,2,2,0,0,0.285714,0.714286,36,1,4.2,4.84
8,KVIHK34,NaN,12sep2012,25oct2013,408,14,04=Diaries Interview,30jul2013,7,2013,...,3,3,0,1,0.500000,0.500000,50,0,3.9,4.54
9,KELDK02,NaN,01sep2012,01oct2013,395,13,04=Diaries Interview,19apr2013,4,2013,...,3,2,0,0,1.000000,0.000000,42,1,2.4,3.00

In [48]:
print (demographic_ind.dtypes)
demographic_ind['m_ids'] = demographic_ind['m_ids'].astype(object)

hh_ids                  object
m_ids                   object
dem_i_male              object
dem_i_age_yrs            int64
dem_i_age_5yrgrp        object
dem_i_age_workage        int64
dem_i_relhead           object
dem_i_hhead              int64
dem_i_marstat           object
dem_i_tribe             object
dem_i_children_tot     float64
dem_i_children_inhh    float64
dtype: object

In [60]:
newData2 = pd.merge(newData, demographic_ind, how="left", left_on="m_ids_trx", right_on="m_ids")

In [61]:
newData2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483949 entries, 0 to 483948
Data columns (total 87 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   hh_ids_x                    483949 non-null  object
 1   unique_hhs                  298 non-null     float64
 2   first_trx_date_hh           483949 non-null  object
 3   last_trx_date_hh            483949 non-null  object
 4   tot_hh_daysofobs            483949 non-null  int64
 5   tot_hh_monthsofobs          483949 non-null  int64
 6   interview_designation       483681 non-null  object
 7   int_date                    483949 non-null  object
 8   int_month                   483949 non-null  int64
 9   int_year                    483949 non-null  int64
 10  int_yr_mo                   483949 non-null  object
 11  first_int_date              483949 non-null  object
 12  account_ids                 483949 non-null  object
 13  unique_accnts               9546 non-null    float64
 14  m_ids_owner                 483949 non-null  object
 15  unique_hm_owner             670 non-null     float64
 16  account_bsheet_desig        77070 non-null   object
 17  account_startclose_balance  6942 non-null    object
 18  account_formal              77070 non-null   object
 19  account_liquid              49921 non-null   object
 20  first_trx_date_acc          483949 non-null  object
 21  last_trx_date_acc           483949 non-null  object
 22  tot_acc_daysofobs           483949 non-null  int64
 23  tot_acc_monthsofobs         483949 non-null  int64
 24  trx_id                      483949 non-null  int64
 25  m_ids_trx                   483949 non-null  object
 26  trx_date                    483949 non-null  object
 27  trx_month                   483949 non-null  int64
 28  trx_year                    483949 non-null  int64
 29  trx_yr_mo                   483949 non-null  object
 30  trx_dq_round                482647 non-null  float64
 31  trx_stdtime_days_hh         483949 non-null  int64
 32  trx_stdtime_mnths_hh        483949 non-null  int64
 33  trx_stdtime_days_acc        483949 non-null  int64
 34  trx_stdtime_mnths_acc       483949 non-null  int64
 35  trx_class_code              483949 non-null  object
 36  trx_class_desc              483949 non-null  object
 37  trx_family_code             483949 non-null  object
 38  trx_family_desc             483949 non-null  object
 39  trx_type_code               483949 non-null  int64
 40  trx_type_desc               483949 non-null  object
 41  trx_prx_purpose             483949 non-null  object
 42  trx_prx_purpose_fd          59950 non-null   object
 43  trx_fee                     77070 non-null   float64
 44  trx_bsheet_direction        71196 non-null   object
 45  trx_mode_code               476292 non-null  float64
 46  trx_mode_desc               476292 non-null  object
 47  trx_place_incommunity       457703 non-null  float64
 48  trx_distance_km             457498 non-null  float64
 49  trx_outlet                  336063 non-null  object
 50  trx_direction               469037 non-null  object
 51  trx_value_kes               483430 non-null  float64
 52  trx_value_usd               483430 non-null  float64
 53  ddd_gift                    483949 non-null  int64
 54  trx_inkind_units            13424 non-null   object
 55  trx_inkind_value_usd        12798 non-null   float64
 56  trx_inkind_value_kes        12798 non-null   float64
 57  trx_stdtime_mnths_hh_nr     483949 non-null  float64
 58  dem_urban                   483949 non-null  int64
 59  dem_hh_size                 483949 non-null  int64
 60  dem_hh_meanage              483949 non-null  float64
 61  dem_hh_ages0_4              483949 non-null  int64
 62  dem_hh_ages5_14             483949 non-null  int64
 63  dem_hh_ages15_17            483949 non-null  int64
 64  dem_hh_ages0_17             483949 non-null  int64
 65  dem_hh_ages15plus           483949 non-null  int64
 66  dem_hh_ages18plus           483949 non-null  int64
 67  dem_hh_ages65plus           483949 non-null  int64
 68  dem_hh_ages20_30            483949 non-null  int64
 69  dem_hh_workage              483949 non-null  float64
 70  dem_hh_dependents           483949 non-null  float64
 71  dem_hh_agehead              483949 non-null  int64
 72  dem_hh_malehead             483949 non-null  int64
 73  dem_pae_oecd                483949 non-null  float64
 74  dem_pae_kihbs               483949 non-null  float64
 75  hh_ids_y                    0 non-null       object
 76  m_ids                       0 non-null       object
 77  dem_i_male                  0 non-null       object
 78  dem_i_age_yrs               0 non-null       float64
 79  dem_i_age_5yrgrp            0 non-null       object
 80  dem_i_age_workage           0 non-null       float64
 81  dem_i_relhead               0 non-null       object
 82  dem_i_hhead                 0 non-null       float64
 83  dem_i_marstat               0 non-null       object
 84  dem_i_tribe                 0 non-null       object
 85  dem_i_children_tot          0 non-null       float64
 86  dem_i_children_inhh         0 non-null       float64
dtypes: float64(23), int64(27), object(37)
memory usage: 324.9+ MB

In [57]:
newData.loc[:,['m_ids_trx']]

                m_ids_trx
0       58134383397900000
1       59134423954300000
2       65134441430300000
3       61134425330400000
4       61134468689200000
...                   ...
483944  89136376471200000
483945  89136376471200000
483946  89136376471200000
483947  61134406652800000
483948  57134380513500000

[483949 rows x 1 columns]

In [58]:
	
newData['m_ids_trx']

0         58134383397900000
1         59134423954300000
2         65134441430300000
3         61134425330400000
4         61134468689200000
                ...
483944    89136376471200000
483945    89136376471200000
483946    89136376471200000
483947    61134406652800000
483948    57134380513500000
Name: m_ids_trx, Length: 483949, dtype: object

In [59]:
demographic_ind['m_ids']

0       56134392820800000
1       56134390476100000
2       56134392826900000
3       56134390654900000
4       56134389772300000
              ...
1560    89136428764400000
1561    89136369003600000
1562    89137058566800000
1563    89136376471200000
1564    89137058618900000
Name: m_ids, Length: 1565, dtype: object