In [ ]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import pandas as pd 
import numpy as np
import os

#import data 
from google.colab import drive
drive.mount('/content/drive')

%cd /content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial
DATA_PATH = "/content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial/raw_data/"
os.getcwd()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial

'/content/drive/MyDrive/GRAD-C24_Machine_Learning/MLProject_KenyaFinancial'

In [ ]:
from os import listdir
FILE_LIST = listdir(DATA_PATH)
print(FILE_LIST)

['con_prod_hh_over_trx_yr_mo_usd.csv', 'con_pur_hh_by_trx_yr_mo_usd.csv', 'demo_hh.csv', 'demo_ind.csv', 'diaries_goingson_hh.csv', 'diaries_wellbeing_ind.csv', 'edu_hh.csv', 'edu_ind.csv', 'housing_conditions_ownership.csv', 'inc_hh_by_trx_yr_mo_usd_incRR.csv', 'inc_ind_by_trx_yr_mo_usd_incRR.csv', 'pov_hh_by_trx_yr_mo_usd_incRR.csv', 'rem_hh_by_trx_yr_mo_usd.csv', 'pov_hh_by_trx_yr_mo_usd_excRR.csv', 'diaries_transactions_all.csv']

In [ ]:
FILE_LIST[0].split(".csv")[0]

'con_prod_hh_over_trx_yr_mo_usd'

In [ ]:
df_dic={}
for i, e in enumerate(FILE_LIST):
  df_dic[str(FILE_LIST[i].split(".csv")[0])]= pd.read_csv("raw_data/" + e)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df_dic['con_prod_hh_over_trx_yr_mo_usd']

In [ ]:
df_dic['diaries_transactions_all']

In [ ]:
df_dic['diaries_transactions_all'].columns

Index(['hh_ids', 'unique_hhs', 'first_trx_date_hh', 'last_trx_date_hh',
       'tot_hh_daysofobs', 'tot_hh_monthsofobs', 'interview_designation',
       'int_date', 'int_month', 'int_year', 'int_yr_mo', 'first_int_date',
       'account_ids', 'unique_accnts', 'm_ids_owner', 'unique_hm_owner',
       'account_bsheet_desig', 'account_startclose_balance', 'account_formal',
       'account_liquid', 'first_trx_date_acc', 'last_trx_date_acc',
       'tot_acc_daysofobs', 'tot_acc_monthsofobs', 'trx_id', 'm_ids_trx',
       'trx_date', 'trx_month', 'trx_year', 'trx_yr_mo', 'trx_dq_round',
       'trx_stdtime_days_hh', 'trx_stdtime_mnths_hh', 'trx_stdtime_days_acc',
       'trx_stdtime_mnths_acc', 'trx_class_code', 'trx_class_desc',
       'trx_family_code', 'trx_family_desc', 'trx_type_code', 'trx_type_desc',
       'trx_prx_purpose', 'trx_prx_purpose_fd', 'trx_fee',
       'trx_bsheet_direction', 'trx_mode_code', 'trx_mode_desc',
       'trx_place_incommunity', 'trx_distance_km', 'trx_outlet',
       'trx_direction', 'trx_value_kes', 'trx_value_usd', 'ddd_gift',
       'trx_inkind_units', 'trx_inkind_value_usd', 'trx_inkind_value_kes',
       'trx_stdtime_mnths_hh_nr'],
      dtype='object')

In [ ]:
from functools import reduce

dfs = [df_dic['diaries_transactions_all'], df_dic['demo_hh'] , df_dic['con_prod_hh_over_trx_yr_mo_usd'], df_dic['edu_hh']]
nan_value = 0

result_hhids = reduce(lambda df_left, df_right: pd.merge(df_left, df_right, 
                                              right_on = 'hh_ids', left_on = 'hh_ids', 
                                              how='outer'), 
                  dfs).fillna(nan_value)

In [ ]:
print(result_hhids)

In [ ]:
dfs = [df_dic['con_pur_hh_by_trx_yr_mo_usd'], df_dic['inc_hh_by_trx_yr_mo_usd_incRR'], df_dic['pov_hh_by_trx_yr_mo_usd_excRR'], df_dic['pov_hh_by_trx_yr_mo_usd_incRR'], df_dic['rem_hh_by_trx_yr_mo_usd']]
nan_value = 0

In [ ]:
result_hhids_trxyrmo = reduce(lambda df_left, df_right: pd.merge(df_left, df_right, 
                                              right_on = ['hh_ids', 'trx_yr_mo'], left_on =['hh_ids', 'trx_yr_mo'], 
                                              how= 'outer'),
                  dfs).fillna(nan_value)

In [ ]:
print(result_hhids_trxyrmo)

In [ ]:
dfs = [df_dic['diaries_wellbeing_ind'], df_dic['diaries_goingson_hh']]
nan_value = 0

result_hhids_intdate = reduce(lambda df_left, df_right: pd.merge(df_left, df_right, 
                                              right_on = ['hh_ids', 'int_date'], left_on =['hh_ids', 'int_date'], 
                                              how= 'outer'),
                  dfs).fillna(nan_value)

In [ ]:
print(result_hhids_intdate)

In [ ]:
dfs = [df_dic['demo_ind'], df_dic['edu_ind']]
nan_value = 0

result_hhids_inds = reduce(lambda df_left, df_right: pd.merge(df_left, df_right, 
                                              right_on = ['hh_ids', 'm_ids'], left_on =['hh_ids', 'm_ids'], 
                                              how= 'outer'),
                  dfs).fillna(nan_value)

In [ ]:
print(result_hhids_inds)

In [ ]:
#convert numeric to string inside inc_ind_by_trx_yr_mo_usd_incRR
df_dic['inc_ind_by_trx_yr_mo_usd_incRR']['m_ids_owner'] = df_dic['inc_ind_by_trx_yr_mo_usd_incRR'].to_string(columns = ['m_ids_owner'])

In [ ]:

official_1 = pd.merge(result_hhids, df_dic['inc_ind_by_trx_yr_mo_usd_incRR'], 
                      on = ['m_ids_owner', 'trx_yr_mo'], 
                      how= 'left')

In [ ]:
official_1.describe()#we can drop the last dataset

,unique_hhs,tot_hh_daysofobs,tot_hh_monthsofobs,int_month,int_year,unique_accnts,unique_hm_owner,tot_acc_daysofobs,tot_acc_monthsofobs,trx_id,...,edu_hh_boys1417inschool,edu_hh_headattain_yrs,inc_i_byti,inc_i_byti_AGRI,inc_i_byti_CITMPC,inc_i_byti_NEINCG,inc_i_byti_REI,inc_i_byti_RIOI,inc_i_byti_RR,inc_i_byti_SEI
count,483949.000000,483949.000000,483949.000000,483949.000000,483949.000000,483949.000000,483949.000000,483949.000000,483949.000000,4.839490e+05,...,483949.000000,483949.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,0.000616,394.805825,13.125895,6.426041,2012.847717,0.019725,0.001384,421.460920,14.157174,7.068031e+16,...,0.269450,8.469173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.024807,32.657529,1.141561,3.204513,0.359490,0.139055,0.037182,118.927981,4.169955,1.964200e+16,...,0.443674,3.466515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,214.000000,7.000000,1.000000,2012.000000,0.000000,0.000000,0.000000,0.000000,3.413549e+16,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000,375.000000,12.000000,4.000000,2013.000000,0.000000,0.000000,358.000000,12.000000,5.713807e+16,...,0.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000,391.000000,13.000000,7.000000,2013.000000,0.000000,0.000000,502.000000,17.000000,6.213598e+16,...,0.000000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,0.000000,413.000000,14.000000,9.000000,2013.000000,0.000000,0.000000,502.000000,17.000000,8.913662e+16,...,1.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.000000,501.000000,17.000000,12.000000,2015.000000,1.000000,1.000000,502.000000,17.000000,1.121385e+17,...,1.000000,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
official_1 = pd.merge(result_hhids, result_hhids_trxyrmo, right_on = ['hh_ids', 'trx_yr_mo'], left_on =['hh_ids', 'trx_yr_mo'], 
                                              how= 'outer')

In [ ]:
official_2 = pd.merge(official_1, result_hhids_intdate, right_on = ['hh_ids', 'int_date'], left_on =['hh_ids', 'int_date'], 
                                              how= 'outer')

In [ ]:
official= pd.merge(official_2, result_hhids_inds, right_on = ['hh_ids', 'm_ids'], left_on =['hh_ids', 'm_ids'], 
                                              how= 'outer')

official.describe()

,unique_hhs,tot_hh_daysofobs,tot_hh_monthsofobs,int_month,int_year,unique_accnts,unique_hm_owner,tot_acc_daysofobs,tot_acc_monthsofobs,trx_id,...,rem_hh_abs_byti_other,rem_hh_net_byti_other,m_ids,dem_i_age_yrs,dem_i_age_workage,dem_i_hhead,dem_i_children_tot,dem_i_children_inhh,edu_i_enrolled,edu_i_attain_yrs
count,734904.000000,734904.000000,734904.000000,734904.000000,734904.000000,734904.000000,734904.000000,734904.000000,734904.000000,7.349040e+05,...,698682.000000,698682.000000,7.169620e+05,1565.000000,1565.000000,1565.000000,1565.000000,1565.000000,1565.000000,1565.000000
mean,0.000450,396.414534,13.190094,6.375714,2012.824185,0.020215,0.001359,420.446119,14.117800,6.967006e+16,...,0.793847,0.077620,6.059774e+16,21.235144,0.492652,0.190415,0.800000,0.568051,0.437700,4.345687
std,0.021218,31.718901,1.101766,3.300842,0.380784,0.140735,0.036844,120.413105,4.224354,1.903707e+16,...,9.376000,9.409226,7.550028e+15,18.108254,0.500106,0.392754,1.526073,1.601231,0.496262,4.625763
min,0.000000,214.000000,7.000000,1.000000,2012.000000,0.000000,0.000000,0.000000,0.000000,3.413549e+16,...,0.000000,-152.941200,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,379.000000,13.000000,4.000000,2013.000000,0.000000,0.000000,359.000000,12.000000,5.713792e+16,...,0.000000,0.000000,5.710000e+16,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,392.000000,13.000000,7.000000,2013.000000,0.000000,0.000000,502.000000,17.000000,6.113619e+16,...,0.000000,0.000000,6.010000e+16,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,0.000000,413.000000,14.000000,9.000000,2013.000000,0.000000,0.000000,502.000000,17.000000,8.413712e+16,...,0.000000,0.000000,6.210000e+16,32.000000,1.000000,0.000000,1.000000,0.000000,1.000000,8.000000
max,1.000000,501.000000,17.000000,12.000000,2015.000000,1.000000,1.000000,502.000000,17.000000,1.121385e+17,...,352.941200,352.941200,1.121373e+17,94.000000,1.000000,1.000000,9.000000,20.000000,1.000000,15.000000

MISSING TO DO: CHECK NA, CHECK IF SOME COLS MAKE SENSE, REPLACE ANY . OR WHATEVER WITH NA, REMOVE NA.FILL !!